# Example variables for Terraform configuration

# AWS CLI profile to use:
profile = "your-aws-profile"

# AWS region to deploy resources in:
region = "us-east-1"

cluster_name        = "eks-lab-vpc"
cidr_block          = "10.0.0.0/16"
private_subnet_cidr = "10.0.1.0/24"
availability_zone   = "us-east-1a"
tags = {
  ManagedBy = "terraform"
}

kubernetes_version  = "1.33"
public_access_cidrs = ["0.0.0.0/32"] # change to your IP